.order-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-page__top {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .order-page {
    flex-direction: column;
  }
  .order-page__total-price span {
    width: 100%;
    margin-bottom: 10px;
  }
  .order-item__cover,
  .game-cover {
    width: 100%;
  }
}
