.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.header__store-title {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.header__cart-btn-wrapper {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.header__link {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(85, 88, 237);
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .header__cart-btn-wrapper {
    flex-direction: column-reverse;
  }
  .header__store-title,
  .cart-block {
    margin-bottom: 10px;
  }
}
